<!-- Home -->
<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <style>
      #headerText {
      color: black;
      }
    </style>
  </head>
  <body>
    <!-- Header -->
    <header>
      <div class="container">
	
	<strong>
	  <a href="new.html" style="color:black;">
	    New
	  </a>
	</strong>
	<strong>
	  <a href="" style="color:black;">
	    OLI
	  </a>
	</strong>
      </div>
    </header>

    <!-- Stuff -->
    <div class="container">
      <button>oli</button>
    </div>

    <!-- Footer -->
  </body>
</html>
