<!-- New Page -->
<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <script src="../controllers/new.js"></script>
  </head>
  <body>
    <header>
      <div class="container">
	<strong>
	  <a href="index.html">
	    Home
	  </a>
	</strong>
      </div>
    </header>

    <div class="container">
      *Proyect Name:<br>
      <input type="text" id="pname"><br><br>
      Description:<br>
      <input type="text" id="desc"><br><br>
      *Start Date:<br>
      <input type="date" id="initdate"><br><br>
      *End Date:<br>
      <input type="date" id="enddate"><br><br>
      <button id="submit" onclick="newP()">
	Submit
      </button>
    </div>
  </body>
</html>
	    
